<html>
  <head>
    <link href="projects.css" rel="stylesheet" type="text/css">
    <script>
      window.setTimeout(function() { window.location.reload(true); }, 10000);
    </script>
  </head>
  <ul class="projects">
  <% @failure_projects.each do |project| %>
    <li class="project <%= project.status.downcase %>">
      <span class="name"><%= project.name %></span>
    </li>
  <% end %>
  <% @success_projects.each do |project| %>
    <li class="project <%= project.status.downcase %>">
      <span class="name"><%= project.name %></span>
    </li>
  <% end %>
  </ul>
<html>